<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario</title>
  <script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container-fluid">
    <h2 class="text-center">Locales</h2>
    <div class="row">
      <div class="col-md-3 shadow nav-vertical">
        <div class="mb-2 mt-2 text-center">
          <div class="d-flex align-items-center justify-content-center mt-3">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQAeQq-3K0F_RdVBEGHRX-aHpuTO02Ykb5J7ThFSi2Hg&s"
              alt="" class="rounded-circle img-fluid">
          </div>
          <h2 class="mt-2">Admin</h2>
        </div>
        <a class="nav-btn" href="">
          <img src="#" alt="" class="img-fluid">
          INICIO
        </a>
        <a class="nav-btn" href="">
          <img src="#" alt="" class="img-fluid">
          USUARIOS
        </a>
        <a class="nav-btn" href="">
          <img src="#" alt="" class="img-fluid">
          ADIMINISTRADORES
        </a>
        <a class="nav-btn" href="">
          <img src="#" alt="" class="img-fluid">
          LOCAL
        </a>
        <a class="nav-btn" href="">
          <img src="#" alt="" class="img-fluid">
          PQRS
        </a>
        <!-- botones que se deban agregar  -->
        <a class="nav-btn btn-salir" href="">
          <img src="../assets/salida-de-emergencia.png" alt="" class="img-fluid">
          SALIR
        </a>
      </div>
      <div class="table-responsive col-lg-8"
        style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
            style="height: 35;">
            Agregar
            <i class="fa-regular fa-file-lines fa-flip-horizontal fa-xl"></i>
          </button>
        </div>
        <br>
        <table class="table table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Dirección</th>
              <th scope="col">Télefono</th>
              <th scope="col">NIT</th>
              <th scope="col">Usuario</th>
              <th scope="col">Opciones</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            
            <tr class="">
              <td class="nombre">Manito</td>
              <td class="direcion">a lado de su mama</td>
              <td class="Telefono">3214356</td>
              <td class="NIT">112131443</td>
              <td class="Usuario">algo</td>
              <td>
                <button type="button" class="btn btn-light" id="tan-btn" style="height: 30px;">
                  <i class="fa-sharp fa-solid fa-ban fa-xl"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar local</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- lo que tenga que ir dentro del modal -->
          <div class="row ">
            <div class="col-12 mt-2">
              <input type="text" class="form-control" placeholder="Nombre de local" maxlength="20" required>
            </div>
            <div class="col-12 mt-2">
              <input type="text" class="form-control" placeholder="Dirección" minlength="10" maxlength="14">
            </div>
            <div class="col-12 mt-2">
              <input type="tel" class="form-control" placeholder="Télefono" minlength="10" maxlength="11" required>
            </div>
            <div class="col-12 mt-2">
              <input type="number" class="form-control" placeholder="NIT">
            </div>
            <div class="col-12 mt-2">
              <input type="email" class="input form-control" placeholder="Correo"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            </div>

            <div class="input-group mt-2 col-12">
              <input name="password" type="password" value="" class="input form-control" id="password"
                placeholder="password" required="true" aria-label="password" aria-describedby="basic-addon1" />
              <div class="input-group-append">
                <span class="input-group-text" onclick="mostrarContrasena();">
                  <i class="fas fa-eye" id="show_eye"></i>
                  <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Carrar</button>
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- para script para mostrar contraseña  -->
<script>

  function mostrarContrasena() {
    var x = document.getElementById("password");
    var show_eye = document.getElementById("show_eye");
    var hide_eye = document.getElementById("hide_eye");
    hide_eye.classList.remove("d-none");
    if (x.type === "password") {
      x.type = "text";
      show_eye.style.display = "none";
      hide_eye.style.display = "block";
    } else {
      x.type = "password";
      show_eye.style.display = "block";
      hide_eye.style.display = "none";
    }
  }
</script>

</html>