<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container-fluid">
        <h2 class="text-center">PQR</h2>
        <div class="row">
            <div class="col-md-3 shadow nav-vertical">
                <div class="mb-2 mt-2 text-center">
                    <div class="d-flex align-items-center justify-content-center mt-3">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQAeQq-3K0F_RdVBEGHRX-aHpuTO02Ykb5J7ThFSi2Hg&s"
                            alt="" class="rounded-circle img-fluid">
                    </div>
                    <h2 class="mt-2">Admin</h2>
                </div>
                <a class="nav-btn" href="">
                    <img src="#" alt="" class="img-fluid">
                    INICIO
                </a>
                <a class="nav-btn" href="">
                    <img src="#" alt="" class="img-fluid">
                    USUARIOS
                </a>
                <a class="nav-btn" href="">
                    <img src="#" alt="" class="img-fluid">
                    ADIMINISTRADORES
                </a>
                <a class="nav-btn" href="">
                    <img src="#" alt="" class="img-fluid">
                    LOCAL
                </a>
                <a class="nav-btn" href="">
                    <img src="#" alt="" class="img-fluid">
                    PQRS
                </a>
                <!-- botones que se deban agregar  -->
                <a class="nav-btn btn-salir" href="">
                    <img src="../assets/salida-de-emergencia.png" alt="" class="img-fluid">
                    SALIR
                </a>
            </div>
            <div class="table-responsive col-lg-8"
                style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                <br>
                <table class="table table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre usuario</th>
                            <th scope="col">Nombre local</th>
                            <th scope="col">Tipo petición</th>
                            <th scope="col">Estado</th>
                            <!-- <th scope="col">Usuario</th> -->
                            <th scope="col">Fecha petición</th>
                            <th scope="col">Respuesta petición</th>
                            <th scope="col">Opciones</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td>Jorge</td>
                            <td>
                                <div class="info-container">
                                    <div class="info-box title">
                                        <h5 class="text-center">Local</h5>
                                    </div>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0wf_Pk8PmfLqOEZU92E_JdMqzkf8xN7lgvQ&usqp=CAU"
                                        class="rounded m-2" alt="Descripción de la imagen" style="height: 40px;">
                                </div>
                            </td>
                            <td>Reclamo</td>
                            <td>True</td>
                            <td>03-12-2023</td>
                            <td>10-12-2023</td>
                            <td>
                                <button type="button" class="btn btn-light" id="tan-btn" style="height: 30px;"
                                    data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa-solid fa-eye fa-xl"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar local</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- lo que tenga que ir dentro del modal -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Carrar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>