<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg " style="background-color: #20242C">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">
                <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png" width="80" height="80" alt="Logo">
            </a>
            <button class="navbar-toggler" style="background-color: #925faa;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color: 925faa;" class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="inicio_local.html">Inicio</a>
                    </li>
                </ul>
                <span class="navbar-text text-white">
                    <a class="navbar-brand" href="home.html">
                        <img width="40" height="40" src="../img/user_2102633 (1).png" alt="Logo">
                    </a>
                    Tienda Random
                </span>
            </div>
        </div>
    </nav>

    <div style="height: 90%;" class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 shadow p-3 m-3 text-center">
                <div class="circulo">
                    <img src="../img/7431863.jpg" alt="imagen" class="img-fluid">
                </div>
                <h2>Tienda Randon</h2>
                <p>Vendedor</p>
                <a href="perfil_cliente.html" class="btn btn-custom p-2">Tú Información</a>
                <a href="inventario_vendedor.html" class="btn btn-custom">Inventario</a>
                <a href="agregar_producto.html" class="btn btn-custom">Agregar Producto</a>
                <a href="pendiente.html" class="btn btn-custom">Pedidos</a>
                <a href="ofertas.html" class="btn btn-custom">Ofertas</a>
                <br>
                <br>
                <br>
                <a href="" class="btn btn-custom">Cerrar Sesión</a>
            </div>

            <div class="container-fluid col-md-8  m-3 p-3 border shadow">
                <h1 class="text-center">Agregar</h1>
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <label class="form-label m-2 r-2 fw-bolder">Nombre </label>
                        <input type="text" class="form-control m-1 shadow" id="talla" value="" max="255" min="1"
                            placeholder="Nombre">

                        <label class="form-label m-2 r-2 fw-bolder">Talla</label>
                        <input type="number" class="form-control m-1 shadow" id="talla" placeholder="Talla" value=""
                            max="999" min="0">

                        <label class="form-label m-2 r-2 fw-bolder">Cantidad</label>
                        <input type="number" class="form-control m-1 shadow" id="cantidad" placeholder="Cantidad"
                            value="" max="999" min="0">

                        <label class="form-label m-2 r-2 fw-bolder">Categoría</label>
                        <input type="text" class="form-control m-1 shadow" id="categoria" placeholder="Categoria">

                    </div>
                    <div class="col-lg-7 col-md-6">
                        <label class="form-label m-2 r-2 fw-bolder">Color</label>
                        <input type="text" class="form-control m-1 shadow" id="categoria" placeholder="Color">

                        <label class="form-label m-2 r-2  fw-bolder">Ofertas</label>
                        <input type="number" class="form-control m-1 shadow" id="ofertas" placeholder="Ofertas" value=""
                            max="999" min="0">

                        <label class="form-label m-2 r-2 fw-bolder">Precio</label>
                        <input type="number" class="form-control m-1 shadow" id="precio" placeholder="Precio" value=""
                            max="999" min="0">

                        <label class="form-label m-2 r-2 fw-bolder">Subir imagen</label>
                        <form action="/tu_ruta_de_procesamiento" method="post" enctype="multipart/form-data">
                            <input type="file" name="archivo" class="form-control" accept=".png" required>
                            <div class="d-flex justify-content-center">
                                <input type="submit" style=" max-width: fit-content; border-radius: 16px; "
                                    class="btn-option mt-1 text-white">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid ">
        <footer class="text-center text-lg-start text-white" style="background-color: #20242C">
            <div class="container-fluid p-4 pb-0">
                <section class="">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                                style="width: 150px; height: 150px;">
                                <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png"
                                    height="150" width="150" loading="lazy" />
                            </div>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold">Servicio al cliente</h5>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Preguntas Frecuentes</a>
                                </li>
                                <li>
                                    <a href="pqr.html" class="text-white">P.Q.R.S</a>
                                </li>
                                <li>
                                    <a href="ter_y_con.html" class="text-white">Terminos y condiciones</a>
                                </li>

                            </ul>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold">
                                Locales
                            </h5>
                            <ul class="list-unstyled">
                                <li class="mb-1">
                                    <a href="#!" class="text-white">local-1</a>
                                </li>
                            </ul>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contactos</h6>
                            <p><i class="fas fa-envelope mr-3"></i> Shoes_company@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> +57 321 432 2333 </p>
                            <p><i class="fas fa-phone mr-3"></i> +57 321 432 2333 </p>
                        </div>
                    </div>
                </section>

                <hr class="my-3">

                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <div class="p-3">
                                © 2023 NombreGrupo: correoGrupo
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </div>

</body>

</html>