<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Carrito Compras</title>
    <script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        /* Quitar las flechas de incremento y decremento en input type "number" */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
            /* Firefox */
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg"  style="background-color: #20242C">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png" width="90" height="90"
                    alt="Logo">
            </a>
            <button class="navbar-toggler" style="background-color: #925faa;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color: 925faa;" class="navbar-toggler-icon"></span>
            </button>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Locales
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-content-between">
                <a class="navbar-brand" href="home.html">
                    <img src="../img/carrito-de-compras.png" alt="Logo">
                </a>
                <a class="navbar-brand" href="home.html">
                    <img src="../img/user_2102633 (1).png " alt="Logo">
                </a>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive"
                    style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                    <table class="table table">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col"></th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0wf_Pk8PmfLqOEZU92E_JdMqzkf8xN7lgvQ&usqp=CAU"
                                        class="rounded" alt="Descripción de la imagen"
                                        style="width: 60p; height: 60px;">
                                </td>
                                <td>
                                    <div class="info-container">
                                        <div class="info-box title">
                                            <h5>zapato</h5>
                                        </div>
                                        <div class="info-box">Rojo</div>
                                        <div class="info-box">Talla:40</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-2 mt-3">
                                        <button class="btn btn-outline-secondary" type="button "
                                            onclick="decrement()"><i class="fa-solid fa-minus"></i></button>
                                        <input type="number" id="myNumber" class="form-control" value="0" min="0"
                                            aria-label="">
                                        <button class="btn btn-outline-secondary" type="button" onclick="increment()"><i
                                                class="fa-solid fa-plus"></i></button>
                                    </div>
                                </td>
                                <td id="abs-center">$100.000</td>
                                <td><a href="" class="btn btn-dark btn-sn">X</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="table-responsive"
                    style="width: 100%; height: 100%; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)">
                    <table class="table table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <h6>TIENDA RAMDON</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td scope="row">
                                    <div class="info-container">
                                        <div class="info-box title mt-3">Cantidad: --</div>
                                        <div class="info-box mt-3">SubTotal: --</div>
                                        <div class="info-box mt-3">Descuento: --</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    <h2>Total: ----</h2>
                                </td>
                            </tr>
                            <tr class="">
                                <td scope="row">
                                    <div class="col-lg-8 m-4">
                                        <button class="btn mb-3"
                                            style="width: 100%; height: 100%; background: #68548C; border-radius: 15px">Pedir
                                            al vendedor</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</body>
<script>
    function increment() {
        document.getElementById("myNumber").stepUp();
    }

    function decrement() {
        document.getElementById("myNumber").stepDown();
    }
</script>

</html>