<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>producto</title>

    <script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg " style="background-color: #20242C">
        <div class="container-fluid">
                <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png" width="80" height="80"
                    alt="Logo">
            <button class="navbar-toggler" style="background-color: #925faa;" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
                <span style="color: 925faa;" class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="cliente_inicio_local.html">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  active text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Locales
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="navbar-text text-white">
                    <a class="navbar-brand" href="cliente_carrito_compra.html">
                        <img width="40" height="40" src="../img/carrito-de-compras (1).png " alt="Logo"> 
                    </a>
                    <a class="navbar-brand" href="cliente_perfil_cliente.html">
                        <img width="40" height="40" src="../img/user_2102633 (1).png " alt="Logo"> 
                    </a>
                </span>
            </div>
        </div>
    </nav>

    <br>
    <main class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner opacity-100">
                        <div class="carousel-item active">
                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/10d1d941-19c7-4e86-a151-45cb2da27c4a/air-force-1-07-zapatillas-s4x0HB.png"
                                alt="imagen-producto" class="img-fluid">
                        </div>
                        <div class="carousel-item ">
                            <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/e0829a8af3da4cc3bbc8af8800a850a7_9366/CAMPUS_00s_Rojo_H03474_01_standard.jpg"
                                alt="imagen-producto" class="img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmFzVh9ar27iMk0nBBAAlpk8I63EZLD4Ens3qHfRkhSoQjoP8EGUIKCKZAL4dOQ4BzAec&usqp=CAU"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev tra" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>

                    </button>
                    <button class="carousel-control-next 5" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-info-product">
                    <div class="container-price">
                        <h3 class="strong">Zapatos Deportivos</h3>
                        <p class="strong">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut in sunt fuga molestias
                            ut, doloremque reprehenderit fugiat repellendus recusandae. Voluptate ad asperiores
                            provident accusamus, quidem, voluptatibus repudiandae quia, nulla magni minima ipsum
                            quibusdam a fugiat excepturi earum est numquam?
                        </p>
                    </div>
                    <div class="container-details-product">
                        <div class="form-group">
                            <label for="colour strong">Color</label>
                            <select class="form-select" name="colour" id="colour">
                                <option disabled selected value="">Escoge una opción</option>
                                <option value="rojo">Rojo</option>
                                <option value="blanco">Blanco</option>
                                <option value="beige">Beige</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="size">Talla</label>
                            <select class="form-select" name="size" id="size">
                                <option disabled selected value="">Escoge una opción</option>
                                <option value="40">40</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                            </select>
                        </div>
                    </div>
                    <div> Cantidad</div>
                    <div class="container-quantity">
                        <input type="number" placeholder="1" value="1" min="1" class="form-control input-quantity"
                            id="quantity" />
                        <div class="btn-increment-decrement">
                        </div>
                    </div>
                    <div>Total:</div>
                    <p id="total">1000</p>
                    <br>
                    <button class="btn btn-success" onclick="comprar()">
                        <a class="fa-solid "></a> Comprar
                    </button>
                    <button class="btn btn-primary" onclick="agregarCarrito()">
                        <i class="fa-solid fa-plus"></i> Agregar
                    </button>
                </div>
            </div>  
        </div>
    </main>

    <br>
    <div class="container-fluid ">
        <footer class="text-center text-lg-start text-white" style="background-color: #20242C">
            <div class="container-fluid p-4 pb-0">
                <section class="">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                                style="width: 150px; height: 150px;">
                                <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png" height="150"
                                    width="150" loading="lazy" />
                            </div>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold">Servicio al cliente</h5>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="preguntas_frecuentes.html" class="text-white mr-3">Preguntas Frecuentes</a>
                                </li>
                                <br>
                                <li>
                                    <a href="pqr.html" class="text-white mr-3">P.Q.R.S</a>
                                </li>
                                <br>
                                <li>
                                    <a href="ter_y_con.html" class="text-white">Terminos y condiciones</a>
                                </li>

                            </ul>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold">
                                Locales
                            </h5>
                            <ul class="list-unstyled">
                                <li class="mb-1">
                                    <a href="#!" class="text-white">local-1</a>
                                </li>
                            </ul>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contactos</h6>
                            <p><i class="fas fa-envelope mr-3"></i> Shoes_company@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> +57 321 432 2333 </p>
                            <p><i class="fas fa-phone mr-3"></i> +57 321 432 2333 </p>
                        </div>
                    </div>
                </section>

                <hr class="my-3">

                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <div class="p-3">
                                © 2023 NombreGrupo: correoGrupo
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </div>

</body>

</html>