<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio sesion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <form class="formulario">
        <h2 class=" text-center font-weight-bold">Inicia sesión</h2>
        <div class="form-group">
            <label for="email">Correo electronico</label>
            <input type="email" class="form-control" id="email" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña">
        </div>

        <p><a class="mb-3 d-block text-center custom-link" href="seguridad.html" id="link">¿Has olvidado tu contraseña?</a></p>

        <button type="submit" style="border-radius: 16px; background: #68548C; color: #FFF;"
            class="btn btn-block ">Iniciar sesión</button>
        <p class="text-center">¿No tienes cuenta?<a href="registro.html" id="link"> Crea una</a></p>
    </form>
    <footer class="bg-dark text-center text-lg-start text-white m-3">
        <div class="container p-5">
            <div class="row my-6">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                    <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                        style="width: 150px; height: 150px;">
                        <img src="../img/Logo.png" height="70" alt="" loading="lazy" />
                    </div>
                    <ul class="list-unstyled d-flex flex-row justify-content-center">
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white px-2" href="#!">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white ps-2" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase mb-4">Nosotros</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Sobre nosotros</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Contactenos</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase mb-4">locales</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Mariza shoes</a>
                        </li>
                        <li class="mb-2">
                            <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Todo a mil</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center">
                    <h5 class="text-uppercase mb-4 ">Redes sociales</h5>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
                        href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                        href="https://www.facebook.com/?locale=es_LA" role="button"><i class="bi bi-facebook"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>