<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y Condiciones</title>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5fd6fbf5d8.js" crossorigin="anonymous"></script>
</head>

<body>


    <nav class="navbar navbar-expand-lg " style="background-color: #20242C">
        <div class="container-fluid">
                <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png" width="80" height="80"
                    alt="Logo">
            <button class="navbar-toggler" style="background-color: #925faa;" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
                <span style="color: 925faa;" class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  active text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Locales
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                    <a class="navbar-brand text-white" href="iniciar_sesion.html">
                        <p>Inicio Sesión</p>
                    </a>
                </span>
            </div>
        </div>
    </nav>
    
    <br>
    <div class="container">
        <div class="row">
            <h1>Terminos y condiciones</h1>
            <p>
                Bienvenido a Shoes Company, tu destino en línea para encontrar calzado de calidad. Al acceder y utilizar
                nuestro sitio web, aceptas cumplir con los siguientes términos y condiciones. Te recomendamos que leas
                cuidadosamente esta información antes de realizar cualquier compra o navegar por nuestro sitio.
            </p>

            <h1>Cookies</h1>
            <p>
                Empleamos el uso de cookies. Al utilizar el sitio web de Shoes Company, usted acepta el uso de cookies
                de acuerdo con la política de privacidad de Shoes Company. La mayoría de los modernos sitios web
                interactivos de hoy en día usan cookies para permitirnos recuperar los detalles del usuario para cada
                visita. Las cookies se utilizan en algunas áreas de nuestro sitio para habilitar la funcionalidad de
                esta área y la facilidad de uso para las personas que lo visitan. Algunos de nuestros socios
                afiliados/publicitarios también pueden usar cookies.
            </p>

            <h1>Licencia</h1>
            <p>
                A menos que se indique lo contrario, Shoes Company y/o sus licenciatarios les pertenecen los derechos de
                propiedad intelectual de todo el material en Shoes Company. Todos los derechos de propiedad
                intelectual están reservados. Puedes ver y/o imprimir páginas desde (Agrega URL) para tu uso personal
                sujeto a las restricciones establecidas en estos términos y condiciones.
            </p>

            <h1>No debes:</h1>
            <p>

                - Compartir información falsa o engañosa. <br>
                - Violentar los derechos de propiedad intelectual.<br>
                - Realizar actividades ilegales o inmorales.<br>
                - Publicar contenido ofensivo, difamatorio o perjudicial.<br>
                - Utilizar el sitio para enviar spam o realizar acciones similares.
            </p>

            <h1> Instrucciones de Uso:</h1>
            <p>

                - Asegúrate de proporcionar información precisa al realizar una compra.<br>
                - Verifica la disponibilidad de productos antes de realizar tu pedido.<br>
                - Sigue las instrucciones de cuidado y mantenimiento del calzado proporcionadas por el fabricante.<br>
            </p>

            <h1>Aceptacion de Terminos</h1>
            <p>
                Al utilizar este sitio web, aceptas cumplir con todos los términos y condiciones establecidos aquí. Nos
                reservamos el derecho de modificar, actualizar o cambiar estos términos en cualquier momento sin previo
                aviso.
            </p>

            <h1>Aviso legal</h1>
            <p>
                En la medida máxima permitida por la ley aplicable, excluimos todas las representaciones, garantías y
                condiciones relacionadas con nuestro sitio web y el uso de este sitio web (incluyendo, sin limitación,
                cualquier garantía implícita por la ley con respecto a la calidad satisfactoria, idoneidad para el
                propósito y/o el uso de cuidado y habilidad razonables). Nada en este aviso legal:
            </p>

            <p>
                Las limitaciones y exclusiones de responsabilidad establecidas en esta Sección y en otras partes de este
                aviso legal:
            </p>
            <ul>
                <li>Están sujetas al párrafo anterior; y
                    Rigen todas las responsabilidades que surjan bajo la exención de responsabilidad o en relación con
                    el objeto de esta exención de responsabilidad, incluidas las responsabilidades que surjan en
                    contrato, agravio (incluyendo negligencia) y por incumplimiento del deber legal.</li>
            </ul>
            <p>
                En la medida en que el sitio web y la información y los servicios en el sitio web se proporcionen de
                forma gratuita, no seremos responsables de ninguna pérdida o daño de ningún tipo. <br> <br>

                Gracias por elegir Shoes Company. Estamos comprometidos a brindarte una experiencia de navegación y
                compra segura y satisfactoria.
            </p>
        </div>
    </div>

    <br>
    <div class="container-fluid ">
        <footer class="text-center text-lg-start text-white" style="background-color: #20242C">
            <div class="container-fluid p-4 pb-0">
                <section class="">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <div class="rounded-circle  shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                                style="width: 150px; height: 150px;">
                                <img src="../img/Imagen de WhatsApp 2023-11-30 a las 21.17.15_cbcc47bc.png" height="150"
                                    width="150" loading="lazy" />
                            </div>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold">Servicio al cliente</h5>
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="preguntas_frecuentes.html" class="text-white mr-3">Preguntas Frecuentes</a>
                                </li>
                                <br>
                                <li>
                                    <a href="pqr.html" class="text-white mr-3">P.Q.R.S</a>
                                </li>
                                <br>
                                <li>
                                    <a href="ter_y_con.html" class="text-white">Terminos y condiciones</a>
                                </li>

                            </ul>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h5 class="text-uppercase mb-4 font-weight-bold">
                                Locales
                            </h5>
                            <ul class="list-unstyled">
                                <li class="mb-1">
                                    <a href="#!" class="text-white">local-1</a>
                                </li>
                            </ul>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contactos</h6>
                            <p><i class="fas fa-envelope mr-3"></i> Shoes_company@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> +57 321 432 2333 </p>
                            <p><i class="fas fa-phone mr-3"></i> +57 321 432 2333 </p>
                        </div>
                    </div>
                </section>

                <hr class="my-3">

                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <div class="p-3">
                                © 2023 NombreGrupo: correoGrupo
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </div>
</body>

</html>