<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="../img/Logo.png" width="81" height="65" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="inicio" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="categorias" href="#">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="locales" href="#">Locales</a>
                </li>
                <li class="nav-item">

                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-auto ">
                <input class="form-control mr-sm-5" type="search" placeholder="Buscar" aria-label="Buscar">
                <img src="../img/avatar.png" class="perfil" alt="">
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                <h1>PEDIDOS</h1>
                <br>
                <div>
                    <button type="button" class="pendientes" class="btn btn-options">Pendientes</button>
                    <button type="button" class="despachados" class="btn btn-options">Despachados</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 tabla">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Talla</th>
                            <th>Precio</th>
                            <th>Color</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="../img/IG.png" alt="Producto 1"></td>
                            <td>Producto </td>
                            <td>50</td>
                            <td>$20.00</td>
                            <td>Azul</td>
                            <td>10</td>
                            <td>Despachado</td>
                            <td>

                                <button type="button" class="Editar" class="btn btn-options">
                                    <img class="logo" src="../img/editar.png" alt="">
            </div></button>

            <button type="button" class="vista" class="btn btn-options">
                <img class="logo" src="../img/ojo.png" alt="">
        </div>
        </button>
        </td>
        </tr>
        <tr>
            <td>2</td>
            <td><img src="../img/FB.png" alt="Producto 2"></td>
            <td>Producto B</td>
            <td>20</td>
            <td>$25.00</td>
            <td>Rojo</td>
            <td>15</td>
            <td>Despachado</td>
            <td>
                <button type="button" class="Editar" class="btn btn-options">
                    <img class="logo" src="../img/editar.png" alt="">
    </div></button>

    <button type="button" class="vista" class="btn btn-options">
        <img class="logo" src="../img/ojo.png" alt="">
        </div>
    </button>
    </td>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
</body>

</html>