<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PQRS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body style="background-image: url(../img/pqr.jpg);">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../img/Logo.png" width="81" height="65" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Locales</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-5  " type="search" placeholder="Buscar" aria-label="Buscar">
                <img src="../img/avatar.png" class="perfil" alt="">
            </form>
        </div>
    </nav>

    <section id="formulario" class="bg-white">
        <h2>Formulario de PQRS</h2>
        <form method="post">
            <label for="tipo" class="font-weight-bold Negrita">Tipo de solicitud:</label>
            <select name="tipo" id="tipo">
                <option value="pregunta">Pregunta</option>
                <option value="queja">Queja</option>
                <option value="reclamo">Reclamo</option>
                <option value="sugerencia">Sugerencia</option>
            </select>

            <label for="nombre" class="font-weight-bold Negrita">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="correo" class="font-weight-bold Negrita">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" required>

            <label for="tipoTienda" class="font-weight-bold Negrita">Seleccionar Tienda</label>
            <select name="tipoTienda" id="tipoTienda">
                <option value="TiendaRamdon1">TiendaRamdoom1</option>
                <option value="TiendaRamdom2">TiendaRamdoom2</option>
                <option value="TiendaRamdoom3">TiendaRamdoom3</option>
                <option value="TiendaRamdoom4">TiendaRamdoom4</option>
            </select>

            <!-- ... (resto del código) ... -->

            <label for="mensaje" class="font-weight-bold Negrita">Descripcion:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>

            <!-- Agregar el siguiente código para el botón de agregar imagen -->
            <div class="form-group">
                <label for="imagen" class="font-weight-bold Negrita">Adjuntar Imagen:</label>
                <input type="file" class="form-control-file" id="imagen" name="imagen">
            </div>
            <div class="mb-3 text-center">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </section>

    <!-- ... (resto del código) ... -->


   
    </form>
    </section>
    <br>
    <div class="container-lg my-6">
        <footer class="bg-dark text-center text-lg-start text-white">
            <div class="container p-4">
                <div class="row my-6">
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                            style="width: 150px; height: 150px;">
                            <img src="../img/Logo.png" height="70" alt="" loading="lazy" />
                        </div>
                        <ul class="list-unstyled d-flex flex-row justify-content-center">
                            <li>
                                <a class="text-white px-2" href="#!">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-white px-2" href="#!">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="text-white ps-2" href="#!">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4">Nosotros</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Sobre nosotros</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Contactenos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4">locales</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Mariza shoes</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-white"><i class="fas fa-paw pe-3"></i>Todo a mil</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4">Unete y crea tu local</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="iniciar_sesion.html" class="text-white"><i class="fas fa-paw pe-3"></i>Inicio
                                    sesion</a>
                            </li>
                            <li class="mb-2">
                                <a href="registro.html" class="text-white"><i class="fas fa-paw pe-3"></i>Registrate</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-4 ">Redes sosiales</h5>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
                            href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                            href="https://www.facebook.com/?locale=es_LA" role="button"><i
                                class="bi bi-facebook"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>