<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil tienda </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="../img/Logo.png" width="81" height="65" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="inicio" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="categorias" href="#">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="locales" href="#">Locales</a>
        </li>
        <li class="nav-item">

        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0 ml-auto ">
      <input class="form-control mr-sm-5" type="search" placeholder="Buscar" aria-label="Buscar">
      <img src="../img/avatar.png" class="perfil" alt="">
    </form>
    </div>
  </nav>

  <div class="circulo-nav">
    <a href="">
      <img src="./tienda.png" alt="">
    </a>
  </div>
  </nav>
  <div style="height: 90%;" class="container">
    <div class="row ">
      <div class="col-lg-3 col-sm-12 shadow p-3 m-3 text-center">
        <div class="circulo">
          <img src="../img/7431863.jpg" alt="imagen">
        </div>
        <h2>Tienda Randon</h2>
        <p>Vendedor</p>
        <a href="" class="btn-custom">Pedidos</a>
        <a href="./seguridad.html" class="btn-custom">Actualizar</a>
        <a href="" class="btn-custom">Mejorar</a>
        <a href="" class="btn-custom">Ayuda</a>
      </div>
      <div style="height: 600px;" class="col-lg-8 col-lg-8 m-3 p-3 border shadow " >
        <h2>Inventario</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Talla</th>
              <th>Precio</th>
              <th>Color</th>
              <th>Cantidad</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><img src="../img/descarga.jpeg" alt="Producto 1"></td>
              <td>Zapatos Deportivos</td>
              <td>42</td>
              <td>$150</td>
              <td>Azul</td>
              <td>10</td>
              <td>
                <button>Editar</button>
                <button>Eliminar</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td><img src="imagen2.jpg" alt="Producto 2"></td>
              <td>Camiseta Casual</td>
              <td>M</td>
              <td>$30</td>
              <td>Blanco</td>
              <td>20</td>
              <td>
                <button>Editar</button>
                <button>Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



    </div>
  </div>
  </div>
  </div>

</body>

</html>