<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="../img/Logo.png" width="81" height="65" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="inicio" href="#" >Inicio</a>
            </li>
            <li class="nav-item">
              <a class="categorias" href="#">Categorías</a>
            </li>
            <li class="nav-item">
              <a class="locales" href="#">Locales</a>
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 ml-auto ">
            <input class="form-control mr-sm-5" type="search" placeholder="Buscar" aria-label="Buscar">           
            <img src="../img/avatar.png" class="perfil" alt="">
          </form>
        </div>     
    </nav>

    <br>

    <main  class="container">
        <div class="row">
            <div class="col-md-6" >
                <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/10d1d941-19c7-4e86-a151-45cb2da27c4a/air-force-1-07-zapatillas-s4x0HB.png"
                    alt="imagen-producto" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="container-info-product">
                    <div class="container-price">
                        <p class="strong">Zapatos deportivos</p>
                    </div>
                    <div class="container-details-product">
                        <div class="form-group">
                            <label for="colour">Color</label>
                            <select class="form-select" name="colour" id="colour">
                                <option disabled selected value="">Escoge una opción</option>
                                <option value="rojo">Rojo</option>
                                <option value="blanco">Blanco</option>
                                <option value="beige">Beige</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="size">Talla</label>
                            <select class="form-select" name="size" id="size">
                                <option disabled selected value="">Escoge una opción</option>
                                <option value="40">40</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                            </select>
                        </div>
                    </div>
                    <div> Cantidad</div>
                    <div class="container-quantity">
                        <input type="number" placeholder="1" value="1" min="1" class="form-control input-quantity"
                            id="quantity" />
                        <div class="btn-increment-decrement">
                        </div>
                    </div>
                    <div>Total:</div>
                    <p id="total">1000</p>
                    <br>
                    <button class="btn btn-success" onclick="comprar()">
                        <i class="fa-solid fa-plus"></i> Comprar
                    </button>
                    <button class="btn btn-primary" onclick="agregarCarrito()">
                        <i class="fa-solid fa-plus"></i> Agregar
                    </button>
                </div>
            </div>
        </div>
    </main>

   

</body>

</html>
