<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambia tu contraseña</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12 shadow p-3 m-3 text-center">
                <div class="circulo">
                    <img src="../img/7431863.jpg" alt="imagen">
                </div>
                <h2>Tienda Randon</h2>
                <p>Vendedor</p>
                <a href="./perfil_tienda.html" class="btn-custom">Actualizar</a>
                <button class="btn-custom">Seguridad</button>
            </div>
            <div class="col-lg-8 col-sm-12 m-3 p-3 border shadow">
                <h1>Cambia tu contraseña</h1>
                <div class="row">
                    <div class="col-lg-5 col-sm-12">
                        <label for="exampleFormControlInput1" class="form-label m-3 r-3">Enviaremos un link a este correo para poder cambiar tu contraseña</label>
                        <input type="email" class="entrada m-1" id="exampleFormControlInput1" placeholder="correo@gmail.com">
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <button class="btn-custom-pq">Cambiar contraseña</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
